@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

body, html {
    margin:0;
    padding:0;
    border:0;
    font-family: 'Lato', sans-serif;
    font-size: calc(13px + 6 * ((100vw - 320px) / 680));
    color: #263238;
    background-color: #EEEEEE;
    text-shadow: 0 1px 3px rgba(0,0,0,0.12);
}

#main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#instructions {
    background-color: #263238;
    color: #EEEEEE;
    margin:1rem 50px 3rem;
    padding:1.5rem 3rem;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
}

b {
    margin:0;
    padding: 0;
    border:0;
    display:inline-block;
}

.row .cell b {
    text-align: left;
}

form {
    width: 100%;
    margin:0;
    padding: 0;
    border: 0;
}

input[type=text] {
    padding: 0.5rem 1rem;
    outline: none;
    border: 1px solid #cdcdcd;
    border-radius:3px;
    border-color: rgba(0, 0, 0, .15);
    background-color: #ffffff;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 350;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
}

input[type=text]:hover, input[type=text]:focus {
    transform: translateY(-2px);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
}

input[type=radio] {
    border: 0px;
    width: 100%;
    height: 1.5em;
    cursor: pointer;
}
  

input[type=submit] {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
    font-size: 16px;
    background-color: #263238;
    border:none;
    border-radius: 3px;
    color: #ffffff;
    padding: 16px 32px;
    text-decoration: none;
    margin: 1rem;
    cursor: pointer;
    align-self: center;
}

select, option {
    outline: none;
    font-family:'Lato', sans-serif;
    padding: 0.5rem 1rem; 
    border: 1px solid #cdcdcd;
    border-radius:3px;
    border-color: rgba(0, 0, 0, .15);
    box-shadow: none;
    background: transparent;
    background-image: none;
    background-color: #ffffff;
    font-weight: 350;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
    display:inline-block;
}

select:focus {
    outline: none;
}

select:hover { 
    background-color:#f0f0f0 !important; 
}

option {
    border-radius:25px; color:#263238; background-color:#ffffff; 
}

.wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.wrapper-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;
    align-content: center;
    margin:0;
    padding:0;
    margin-left:50px;
}

.left {
    width:40%;
    color:#263238;
    margin:0;
    padding:0;
    border:0;
    margin-right:15px;
    text-align: right;
}

.right {
    width:50%;
    color:#263238;
    margin:0;
    padding:0;
    border:0;
    text-align: left;
}

fieldset {
    display: block;
    margin:0;
    padding: 0;
    border: 0;
}

.table {
    display: flex;
    margin:25px 50px;
    justify-content: center;
    flex-flow: column nowrap;
    border-radius:3px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
}

.table-header {
    background-color: #263238;
    color: #EEEEEE;
    padding:1.5rem 3rem;
    margin:0;
    text-align: center;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.cell {
    width:14%;
    padding: 0.5rem 1rem;
    text-align: center;
}

.cell-value {
    width:30%;
    padding: 0.5rem 1rem;
    text-align: left;
}