@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

body, html {
    margin:0;
    padding:0;
    border:0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #263238;
    background-color: #EEEEEE;
    text-shadow: 0 1px 3px rgba(0,0,0,0.12);
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.question {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    margin:25px;
}

.question b {
    margin-bottom: 25px;
}

input[type=radio] {
    margin:5px;
}

input[type=submit] {
    display: flex;
    justify-content: start;
    margin-top:25px;
    margin-left:25px;
}

button {
    margin-top: 50px;
}