@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

body, html {
    margin:0;
    padding:0;
    border:0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #263238;
    background-color: #EEEEEE;
    text-shadow: 0 1px 3px rgba(0,0,0,0.12);
    text-align: center;
}

#main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height:100vh;
    width: 80%;
    margin:0 auto;
}

#title {
    font-size: 2.5em;
    font-weight: bolder;
    text-align: center;
    margin: 0px 50px;
}

#sub {
    font-size: 2.5em;
    font-weight: bolder;
    text-align: center;
    margin: 0px 50px;
}

p {
    font-size: 1.8em;
    font-weight: 300;
    margin:0;
    text-align: center;
    margin:0px 50px;
    max-width:800px;
}

#current-object{
    height: 25%;
    width: 25%;
    margin:25px 0px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
}

#current-object:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
}

.wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 700px;
}

.wrapper img {
    cursor: pointer;
    width:350;
    height: auto;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 50px 0px;
    text-decoration: none;
    background: #455A64;
    color: #ffffff;
    font-size: 1.5em;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
}

button:hover,
button:focus {
    background: #455A64;
}

button:focus {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
}

button:active {
    transform: translateY(-2px);
}